<div 
  class="chat-container"
  ng-controller="ChatCtrl">
  <h1>Chat</h1>

  <ul class="chat-list" ng-click="cancelChat()">
    <li 
      class="chat-message" 
      ng-class="{'chat-message-self': message.username == username}"
      ng-repeat="message in messages">
      <div 
        class="chat-message-username">
        {{ message.username }}
      </div>
      <div
       class="chat-message-text"
       ng-class="{'chat-message-text-self': message.username == username}">
        {{ message.message }}
      </div>
    </li>
  </ul>

  <div class="chat-send-container">
    <form 
      class="chat-send-form" 
      ng-submit="chatSend()">
      <input 
        id="sendChat" 
        type="text" 
        placeholder="Chat" 
        ng-model="chatMessage" 
        ng-disabled="!enableChat" />
    </form>
  </div>
</div>
