<div id="edit-window" class="hidden">
  <label>Name</label>
  <input id="edit-place-name" type="text"/>

  <div ng-click="input.blur()">
    <img id="edit-place-img" />
    <hr>
  </div>

  <label>Time</label>
  <input id="edit-place-time" type="text"/>

  <div ng-click="input.blur()">
    <hr>
    <label>Address</label>
    <p class="edit-address" id="edit-place-address-1"></p>
    <p class="edit-address" id="edit-place-address-2"></p>
    <p class="edit-address" id="edit-place-address-3"></p>
  </div>

  <div class="edit-button-container">
    <button id="edit-place-save">Save</button>
    <button id="edit-place-cancel">Cancel</button>
  </div>
</div>