<div id="edit-window" class="hidden">
  <label>Name</label>
  <input id="edit-place-name" type="text"/>
  <img id="edit-place-img" />
  <hr>
  <label>Time</label>
  <input id="edit-place-time" type="text"/>
  <hr>
  <label>Address</label>
  <p class="edit-address" id="edit-place-address-1"></p>
  <p class="edit-address" id="edit-place-address-2"></p>
  <p class="edit-address" id="edit-place-address-3"></p>
  <div class="edit-button-container">
    <button id="edit-place-cancel">Cancel</button>
    <button id="edit-place-save">Save</button>
  </div>
</div>