<div
  id="leftSliver"
  ng-swipe-right="roomsClass='center'">
</div>

<div
  id="rightSliver"
  ng-swipe-left="usersClass='center'">
</div>

<div
  class="rooms hiddenLeft"
  ng-class="roomsClass"
  ng-swipe-left="roomsClass='hiddenLeft'">
  <div class="menu-header-container">
    <h1>logged in as {{username}}</h1>
    <div class="logout-button-container">
      <button ng-click="logout()">Log Out</button>
    </div>
  </div>

  <div class="topcoat-list">
    <h3 class="topcoat-list__header">Rooms</h3>
    <ul class="topcoat-list__container">
      <li class="topcoat-list__item" ng-repeat="room in rooms" ng-class="{'topcoat-list__item-selected': room == currentRoom }">
        <span ng-click="join(room)" class="room-name">{{ room }}</span>
        <span ng-click="leaveRoom(room)" class="room-leave">Leave</span>
      </li>
  </ul>
  </div>

  <div>
    <form ng-submit="join(joinRoom.name)">
      Join a room
      <input type="text" class="joinRoom" ng-model="joinRoom.name" placeholder="roomname" />
      <input type="submit" value="Join"></input>
    </form>
  </div>

  <div>
    <form ng-submit="createRoom(newRoom.name)">
      Create a room
      <input type="text" class="newRoomName" ng-model="newRoom.name" placeholder="roomname" />
      <input type="submit" value="Create"></input>
    </form>
  </div>
</div>

<div
  class="users hiddenRight"
  ng-class="usersClass"
  ng-swipe-right="usersClass='hiddenRight'">
  <h1>Users</h1>

  <p ng-repeat="(username, userdata) in users">{{ username }}: {{ userdata.active }}</p>
</div>


<div class="map-div-container">
  <div class="map">
    <div class="map-topbar">
      <img class="hamburger" src="img/hamburger_light.svg" ng-click="roomsClass='center'" />
      <img class="user-icon" src="img/multi-user.png" ng-click="usersClass='center'" />
    </div>
    
    <div id="map-canvas">
    </div>

    <div class="map-room">
      In {{ currentRoom }}
    </div>
  </div>

  <div class="chat" ng-class="{'chat-show': chatShow}">
    <h1 ng-click="chatShow = !chatShow">Chat</h1>
    <ul class="chat-list">
      <li ng-repeat="message in messages">{{ message.username }}: {{ message.message }}</li>
    </ul>
    <div class="chat-container">
      <form ng-submit="chatSend()">
        <input type="text" ng-model="chatMessage" size="45" placeholder="Chat" />
        <input type="submit" value="Send"></input>
      </form>
    </div>
  </div>

  <div class="search-container">
    <form>
      <input id="autocomplete" type="text" size="50" ng-model="searchText" placeholder="Search" />
    </form>
  </div>
</div>