<div
  id="leftSliver"
  ng-swipe-right="roomsClass='center'">
</div>

<div
  id="rightSliver"
  ng-swipe-left="usersClass='center'">
</div>

<div
  class="rooms hiddenLeft"
  ng-class="roomsClass"
  ng-swipe-left="roomsClass='hiddenLeft'">
  <div class="menu-header-container">
    <h1>logged in as {{username}}</h1>
    <div class="logout-button-container">
      <button ng-click="logout()">Log Out</button>
    </div>
  </div>

  <div class="topcoat-list">
    <h3 class="topcoat-list__header">Groups</h3>
    <ul class="topcoat-list__container">
      <li class="topcoat-list__item" ng-repeat="room in rooms" ng-class="{'topcoat-list__item-selected': room.name == currentRoom }">
        <span ng-click="join(room.name)" class="room-name">{{ room.name }}</span>
        <span>{{ room.update }}</span>
        <span ng-click="deleteRoom(room.name)" class="room-leave">Delete</span>
        <span class="update-toggle">
          <label class="topcoat-switch">
            <input type="checkbox" class="topcoat-switch__input" ng-model="room.update" ng-change="toggleUpdate(room)" ng-true-value="live" ng-false-value="manual">
            <span class="topcoat-switch__toggle"></span>
          </label>
        </span>
      </li>
  </ul>
  </div>

  <div>
    <form ng-submit="join(joinRoom.name)">
      </p>Join a room</p>
      <input type="text" class="joinRoom" ng-model="joinRoom.name" placeholder="roomname" />
      <input type="submit" value="Join"></input>
    </form>
  </div>

  <div>
    <form ng-submit="createRoom(newRoom.name)">
      <p>Create a room</p>
      <input type="text" class="newRoomName" ng-model="newRoom.name" placeholder="roomname" />
      <input type="submit" value="Create"></input>
    </form>
  </div>
</div>

<div
  class="users hiddenRight"
  ng-class="usersClass"
  ng-swipe-right="usersClass='hiddenRight'">
  <h1>Users</h1>

  <p ng-repeat="(username, userdata) in users">{{ username }}: {{ userdata.update }}</p>

  <h1>Places</h1>

  <p ng-repeat="marker in markers">{{ marker.name }}</p>
</div>


<div class="map-div-container">
  <div class="map">
    <div class="map-topbar">
      <img class="hamburger" src="img/hamburger_light.svg" ng-click="roomsClass='center'" />
      <img class="user-icon" src="img/multi-user.png" ng-click="usersClass='center'" />
      <img class="chat-icon" src="img/chat-icon.png" ng-click="chatShow = !chatShow" />
    </div>
    
    <div id="map-canvas">
    </div>

    <div class="map-room">
      In {{ currentRoom }}
    </div>
  </div>

  <div class="chat" ng-class="{'chat-show': chatShow}">
    <h1>Chat</h1>

    <div class="chat-messages-container" ng-click="cancelChat()">
      <ul class="chat-list">
        <li ng-repeat="message in messages">{{ message.username }}: {{ message.message }}</li>
      </ul>
    </div>
    <div class="chat-send-container">
      <form ng-submit="chatSend()">
        <input id="sendChat" type="text" ng-model="chatMessage" size="20" placeholder="Chat" />
      </form>
    </div>
  </div>

  <div class="search-container">
    <form ng-submit="cancelSearch()">
      <input id="autocomplete" ng-model="searchText" type="text" size="15" placeholder="Search" autocorrect="off" autocapitalize="off"/>
      <button class="cancel" ng-click="cancelSearch()">Cancel</button>
    </form>
    <button ng-click="clearResults()">Clear Search Results</button>
  </div>

</div>