<div
  id="leftSliver"
  ng-swipe-right="roomsClass='center'">
</div>

<div
  id="rightSliver"
  ng-swipe-left="usersClass='center'">
</div>

<div
  id="rooms"
  class="hiddenLeft"
  ng-class="roomsClass"
  ng-swipe-left="roomsClass='hiddenLeft'">
  <div>
    Logged in as {{username}}
    <button ng-click="logout()">Log Out</button>
  </div>

  <div class="topcoat-list">
    <h3 class="topcoat-list__header">Rooms</h3>
    <ul class="topcoat-list__container">
      <div ng-repeat="room in rooms">
      <li class="topcoat-list__item" ng-model=room ng-click="join(room)" ng-class="{'topcoat-list__item-selected': room == currentRoom() }">
        {{ room }}
      </li>
      <span ng-click="leaveRoom(room)" class="leave-room">Leave</span>
      <div>
  </ul>
  </div>

  <div>
    <form ng-submit="join(joinRoom.name)">
      Join a room
      <input type="text" class="joinRoom" ng-model="joinRoom.name" placeholder="roomname" />
      <input type="submit" value="Join"></input>
    </form>
  </div>

  <div>
    <form ng-submit="createRoom(newRoom.name)">
      Create a room
      <input type="text" class="newRoomName" ng-model="newRoom.name" placeholder="roomname" />
      <input type="submit" value="Create"></input>
    </form>
  </div>
</div>

<div
  id="users"
  class="hiddenRight"
  ng-class="usersClass"
  ng-swipe-right="usersClass='hiddenRight'">
  Users

  <p ng-repeat="user in users">{{ user }}</p>
</div>


<div class="map">
  <div class="map-topbar">
    <img class="hamburger" src="img/hamburger_light.svg" ng-click="roomsClass='center'" />
    <img class="user-icon" src="img/multi-user.png" ng-click="usersClass='center'" />
  </div>
  
  <div id="map-canvas">
  </div>

  <div class="map-room">
    In {{ currentRoom() }}
  </div>
</div>