<div
  class="map-page-container"
  ng-controller="MapCtrl">
  <div class="map-main-container" ng-controller="TabCtrl">
    <div class="map-topbar">
      <img class="hamburger" src="img/hamburger.png" ng-click="panel.hideRooms=!panel.hideRooms" />

      <img class="chat-icon" src="img/chat-icon.png" ng-click="toggleChat()" />
      <img class="place-icon" src="img/place-icon.png" ng-click="togglePlaces()" />
      <img class="user-icon" src="img/multi-user.png" ng-click="toggleUsers()" />
    </div>

    <div class="map-container" ng-click="hideTabs()">
      <div id="map-canvas"></div>
      <img 
        class="current-arrow" 
        src="img/current_arrow.png"
        ng-click="showCurrentPos()"
        ng-hide="searchFocus" />
    </div>

    <div class="tab-users-places" ng-class="{'tab-users-places-on': showUsers || showPlaces}">
      <div
        ng-include="'views/users_places.html'"
        class="users-places-container"
        ng-class="{'tab-places-on': showPlaces}">
      </div>
    </div>

    <div 
      class="tab-chat" 
      ng-class="{'tab-chat-on': showChat}" 
      ng-include="'views/chat.html'">
    </div>

    <div
      class="chat-bottom"
      ng-click="toggleChat()">
      <div class="new-chat" ng-class="{'new-chat-on': newMessage}">
        {{ newMessage.username }}:
        {{ newMessage.message }}
      </div>
    </div>

  </div>

<!-- **************** Search ****************** -->
  <div
    class="search-container"
    ng-init="searchFocus=false"
    ng-class="{'search-container-gray': searchFocus}">
    <div 
      class="search-form-container"
      ng-class="{'search-form-container-focus': searchFocus}">
      <form ng-submit="search(searchTerm)">
        <input
          id="autocomplete"
          ng-model="searchTerm"
          ng-focus="searchFocus=true"
          type="text" size="19"
          placeholder="Search"
          autocorrect="off"
          autocapitalize="off"/ >
      </form>
      <button
        class="clear-search-term"
        ng-show="searchFocus && searchTerm.length"
        ng-click="searchTerm=''"></button>
    </div>
      <button
        class="cancel-search"
        ng-show="searchFocus"
        ng-click="cancelSearch()">Cancel</button>
      <button
        class="hide-all"
        ng-show="hasMarkers && !searchFocus"
        ng-click="hideAll()">Hide All</button>
  </div>

  <div 
    class="search-underlay"
    ng-class="{'search-underlay-on': searchFocus}">
    <ul class="search-predictions-list">
      <li
        class="search-prediction"
        ng-repeat="prediction in predictions"
        ng-click="displayPlace(prediction)">
        {{ prediction.namePre }}<span class="prediction-matched-term">{{ prediction.nameMatched }}</span>{{ prediction.namePost }}
        <div class="prediction-address">{{ prediction.address }}</div>
      </li>
    </ul>
  </div>

  <div ng-include="'views/edit.html'"></div>

</div>
