<div 
  class="map-div-container"
  ng-controller="MapCtrl">
  <div
    class="map">
    <div class="map-topbar">
      <img class="hamburger" src="img/hamburger.png" ng-click="panel.hideRooms=!panel.hideRooms" />

      <img class="chat-icon" src="img/chat-icon.png" ng-click="toggleChat()" />
      <img class="place-icon" src="img/place-icon.png" ng-click="togglePlaces()" />
      <img class="user-icon" src="img/multi-user.png" ng-click="toggleUsers()" />
    </div>
    
    <div id="map-canvas">
    </div>
  </div>

  <div class="search-container">
    <form ng-submit="cancelSearch()">
      <input id="autocomplete" ng-model="searchText" type="text" size="15" placeholder="Search" autocorrect="off" autocapitalize="off"/>
      <button class="cancel" ng-click="cancelSearch()">X</button>
      <button ng-click="clearResults()">Clear</button>
    </form>
  </div>

  <div ng-include="'views/edit.html'"></div>

  <div class="tab-container">
    <div class="tabs">
      <div class="tab" ng-class="{'tab-on': showUsers}">
        <div ng-include="'views/users.html'">
      </div>
      <div class="tab" ng-class="{'tab-on': showPlaces}">
        <div ng-include="'views/places.html'">
      </div>
      <div class="tab" ng-class="{'tab-on': showChat}">
        <div ng-include="'views/chat.html'">
      </div>
    </div>
  </div>

<!--   <div class="tab-container" ng-show="showUsers || showPlaces || showChat">
    <div class="tab" ng-include="'views/users.html'" ng-show="showUsers"></div>
    <div class="tab" ng-include="'views/places.html'" ng-show="showPlaces"></div>
    <div class="tab" ng-include="'views/chat.html'" ng-show="showChat"></div>
  </div> -->
 
</div>



