<div 
  class="map-div-container"
  ng-controller="MapCtrl">
  <div 
    class="search-underlay"
    ng-class="{'search-underlay-on': searchFocus}">
    <ul class="search-predictions-list">
      <li
        class="search-predictions"
        ng-repeat="prediction in predictions"
        ng-click="displayPlace(prediction)">
        {{ prediction.description }}
        {{ prediction.matched_substrings }}
      </li>
    </ul>
  </div>
  <div
    class="map">
    <div class="map-topbar">
      <img class="hamburger" src="img/hamburger.png" ng-click="panel.hideRooms=!panel.hideRooms" />

      <img class="chat-icon" src="img/chat-icon.png" ng-click="toggleChat()" />
      <img class="place-icon" src="img/place-icon.png" ng-click="togglePlaces()" />
      <img class="user-icon" src="img/multi-user.png" ng-click="toggleUsers()" />
    </div>
    
    <div id="map-canvas">
    </div>
    <img 
      class="current-arrow" 
      src="img/current_arrow.png"
      ng-click="showCurrentPos()" />
  </div>

  <div class="search-container" ng-init="searchFocus=false">
    <form ng-submit="search(searchTerm)">
      <input
        id="autocomplete"
        ng-model="searchTerm"
        ng-focus="searchFocus=true"
        type="text" size="15"
        placeholder="Search"
        autocorrect="off"
        autocapitalize="off"/ >
    </form>
    <button
      class="clear-search-term"
      ng-show="searchFocus && searchTerm.length"
      ng-click="searchTerm=''">X</button>
    <button
      class="cancel-search"
      ng-show="searchFocus"
      ng-click="cancelSearch()">Cancel</button>
    <button
      class="clear-results"
      ng-show="hasMarkers && !searchFocus"
      ng-click="hideAll()">Hide All</button>
  </div>

  <div ng-include="'views/edit.html'"></div>

  <div class="tab" ng-show="showUsers" ng-class="{'tab-on': showUsers}">
    <div ng-include="'views/users.html'"></div>
  </div>

  <div class="tab" ng-show="showPlaces" ng-class="{'tab-on': showPlaces}">
    <div ng-include="'views/places.html'"></div>
  </div>

  <div class="tab" ng-class="{'tab-on': showChat}">
    <div ng-include="'views/chat.html'"></div>
  </div>

</div>



