<div 
  class="users-container"
  ng-controller="UserCtrl">
  <div class="users-inner-container">
    <h1>Users</h1>
    <div class="user" ng-repeat="(username, userdata) in users">

      <div class="locator-icon-container">
        <img 
          class="locator-icon"
          src="img/user-icon.png" 
          ng-show="userdata.position" 
          ng-click="centerUser(username)"/>
      </div>
      <span class="location-text">{{ username }}: {{ userdata.update }}</span>
    </div>
    <h1 
      class="invite-container"
      ng-class="{'invite-container-on': showInvite}">
      <button 
        class="invite"
        ng-click="showInvite=true"
        ng-hide="showInvite">Invite</button>
      <div 
        ng-show="showInvite">
        <form ng-submit="sendInvite(inviteUsername)">
          <input          
            ng-model="inviteUsername" 
            placeholder="Username"/>
        </form>
        <div>
          <button class="send" ng-click="sendInvite(inviteUsername)">Send</button>
          <button class="cancel" ng-click="cancelInvite()">Cancel</button>
        </div>
      </div>
    </h1>
  </div>
</div><div 
  class="places-container"
  ng-controller="PlaceCtrl">
  <div class="places-inner-container">
    <h1>Places</h1>
    <div class="place" ng-repeat="place in places">

      <div class="locator-icon-container">
        <img 
          class="locator-icon"
          src="img/place-icon.png" 
          ng-click="centerPlace(place)"/>
      </div>
      <span class="location-text">{{ place.name }}</span>
    </div>
  </div>
</div>
