.chat-container {
  position: absolute;;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 10px;
  background-color: #e5e9e8;
  overflow: auto;
}

.chat-messages-container {
}

.chat-send-container {
  position: absolute;
  bottom: 44px;
}

.chat-list {
  padding: 0;
  list-style-type: none;
  color: #444;
}