body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  width: 960px;
  height: 548px;
  position: absolute;
  /*background-color: yellow;*/
  top: 20px;
  /*left: -320px;*/
  left: 0;

  overflow: hidden;
}

.login {
  position: absolute;
  width: 320px;
  left: 320px;
}

.login input {
  font-size: 20px;
}

.loginForm {
  padding: 10px;
  margin-top: 200px;
}

button {
  font-size: large;
}

.rooms, .users{
  width: 320px;
  height: 100%;
  position: absolute;
  background-color: lightgray;
}

.rooms {
  z-index: 4;
}

.users {
  z-index: 4;
}

.hiddenLeft {
  left: 0;
}

.hiddenRight {
  right: 0;
}

.center {
  left: 320px;
}

.gmnoprint, .gm-style-cc {
  display: none;
}

.map-room {
  position: absolute;
  width: 320px;
  bottom: 0;
  left: 320px;
  background-color: white;
}

.topcoat-list {
  border-top: 1px solid #333434;
  border-bottom: 1px solid #616363;
  background-color: #454646;
}

.topcoat-list__header {
  padding: 4px 20px;
  font-size: 0.9em;
  font-weight: 400;
  background-color: #3f4041;
  color: #c6c8c8;
  text-shadow: 0 1px 0 rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.topcoat-list__container {
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #333434;
  color: #c6c8c8;
}

.topcoat-list__item {
  padding: 1.25rem;
  border-top: 1px solid #616363;
  border-bottom: 1px solid #333434;

  /*background-color: #6B6B6B;*/
}

.topcoat-list__item-selected {
  border-top: 1px solid rgba(0,0,0,0.05);
  background-color: #455;
}

.map-div-container {
  position: absolute;
  width: 320px;
  height: 100%;
  left: 320px;
  z-index: 2;
}

.map {
  /*background-color: blue;*/
}

#map-canvas {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
}

.map-topbar {
  height: 44px;
  background-color: #454646;
}

.hamburger, .user-icon {
  width: 24px;
  height: 24px;
  margin: 10px 15px;
}

.user-icon {
  float: right;
  margin-right: 15px;
}

.map-room {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.room-leave {
  float: right;
}

.menu-header-container {
  text-align: center;
}

.logout-button-container {
  width: 250px;
  margin: auto;
}

.chat {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  margin-top: -35px;
  z-index: 10;
  background-color: lightgray;
}

.chat-container {
  position: absolute;
  bottom: 44px;
}

.chat-list {
  padding: 0;
  list-style-type: none;
  color: #444;
}

.chat-show {
  top: 0;
  margin-top: 44px;
}

.search-container {
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 3;
}

input[type="text"] {
  font-size: 20px;
}