body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  width: 960px;
  height: 548px;
  position: absolute;
  background-color: yellow;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
}

#map-canvas {
  width: 320px;
  height: 100%;
  position: absolute;
  left: 320px;
}

#login {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 200px;
  font-size: x-large;
}

button {
  font-size: large;
}

#rooms, #chat {
  width: 320px;
  height: 100%;
  position: absolute;

  background-color: lightgray;
  z-index: 4;
}

#chat {
  right: 0;
}

#leftSliver, #rightSliver {
  position: absolute;
  top: 60px;
  width: 30px;
  height: 100%;
  z-index: 3;
  background-color: blue;
  opacity: 0;
}

#leftSliver {
  left: 320px;
}

#rightSliver {
  right: 320px;
}
/*
.gmnoprint, .gm-style-cc {
  display: none;
}*/

.map-room {
  position: absolute;
  width: 320px;
  bottom: 0;
  left: 320px;
  background-color: white;
}