.map-div-container {
  position: absolute;
  width: 320px;
  height: 100%;
  z-index: 1;
}

#map-canvas {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
}

.map-topbar {
  height: 44px;
  background-color: #454646;
  padding: 0 10px;
}

.hamburger, .user-icon, .chat-icon, .place-icon {
  position: relative;
  top: -2px;
  width: 28px;
  height: 28px;
  margin: 10px 5px;
}

.user-icon, .place-icon, .chat-icon {
  float: right;
}

.map-room {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.gmnoprint, .gm-style-cc {
  display: none;
}

.search-container {
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 3;
}

.search-container form {
  display: inline;
}

.search-container input {
  margin: 0;
  padding: 0;
  font-size: 20px;
  border: none;
  -webkit-appearance: none;
}

.search-container button {
  margin: 0;
  padding: 0;
  font-size: 20px;
  background-color: white;
  border: none;
}

.clear-search-term {
  position: absolute;
  left: 180px;
  background: none;
}

.cancel-search {
  float: right;
}

.search-underlay {
  position: absolute;
  top: 44px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: beige;
  z-index: -1;
}

.search-underlay-on {
  z-index: 2;
}

.search-predictions-list {
  margin-top: 35px;
}

/*.gm-style-iw{
  width: 200px;
}*/

#info-window {
  width: 180px;
}