.rooms-container {
  width: 320px;
  height: 100%;
  position: absolute;
  background-color: #454646;
  z-index: 2;

  -webkit-transform: translate3d(0px,0px,0px);
  -moz-transition: left 0.2s;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;

  display: none;
}

.slideRight {
  left: 320px;
}

.rooms-container h1 {
  margin: 15px;
  color: #c6c8c8;
}

.menu-header-container {
  text-align: center;
}

.room-delete {
  float: right;
}

.join-create-container {
  margin: 20px auto;
  text-align: center;
}

.join, .create {
  width: 120px;
  margin: 0 10px;
}

.logout-button-container {
  width: 160px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -80px;
}

.logout {
  width: 160px;
}
.topcoat-button,
.topcoat-button--cta,
.topcoat-button--large--cta {
  padding: 0 1.25rem;
  font-size: 16px;
  line-height: 3rem;
  letter-spacing: 1px;
  vertical-align: top;
  border-radius: 6px;
}

.topcoat-button {
  color: #c6c8c8;
  background-color: #595b5b;
  border: 1px solid #333434;
  box-shadow: inset 0 1px #737373;
  text-shadow: 0 -1px rgba(0,0,0,0.69);
}

.topcoat-button:hover {
  background-color: #626465;
}

.topcoat-button:focus,
.topcoat-button--cta:focus {
  /*border: 1px solid #0036ff;*/
  border: none;
  /*box-shadow: inset 0 1px rgba(255,255,255,0.36), 0 0 0 2px #6fb5f1;*/
  outline: 0;
}

.topcoat-button:active {
  border: 1px solid #333434;
  background-color: #3f4041;
  box-shadow: inset 0 1px rgba(0,0,0,0.05);
}

.topcoat-list {
  border-top: 1px solid #333434;
  border-bottom: 1px solid #616363;
  background-color: #454646;
}

.topcoat-list__header {
  padding: 4px 20px;
  margin: 0;
  text-align: center;
  font-size: 0.9em;
  font-weight: 500;
  background-color: #3f4041;
  color: #c6c8c8;
  text-shadow: 0 1px 0 rgba(255,255,255,0.1);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.05);
}

.topcoat-list__container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #333434;
  color: #c6c8c8;
}

.topcoat-list__item {
  padding: 1.25rem;
  border-top: 1px solid #616363;
  border-bottom: 1px solid #333434;

  /*background-color: #6B6B6B;*/
}

.topcoat-list__item-selected {
  border-top: 1px solid rgba(0,0,0,0.05);
  background-color: #33588e;
}

.update-toggle {
  float: right;
  margin-top: -5px;
  margin-right: 10px;
}

.topcoat-switch {
  position: relative;
  top: 2px;
  display: inline-block;  
  padding: 0 1.25rem;
  border-radius: 5px;
  border: 1px solid #a5a8a8;
  overflow: hidden;
  width: 3.5rem;
  font-size: 13px;

/* something to do with showing only one side */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.topcoat-switch__input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: 0;
  padding: 0;
  border: 0;

/*  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0.1)";
  filter: alpha(opacity=0.1);*/
  /*opacity: 0.001;*/
}

.topcoat-switch__toggle,.button {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  /*margin: 0;*/
  font: inherit;
  color: inherit;


  background: transparent;
  border: none;
  cursor: default;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.topcoat-switch__toggle {
  line-height: 1.5rem;
  height: 1.5rem;
  width: 1rem;
  /*border-radius: 5px;*/
  color: #454545;
  /*background-color: inherit;*/
  background-color: #454646; /* color of toggle switch */
  z-index: 2;


  border: 1px solid #a5a8a8;
  margin-left: -21px; /* how far the slider slides*/
  margin-bottom:-1px;
  margin-top:-2px;

  -webkit-box-shadow: inset 0 1px #fff;
  box-shadow: inset 0 1px #fff;
  
  -webkit-transition: margin-left 0.05s ease-in-out;
  -moz-transition: margin-left 0.05s ease-in-out;
  -o-transition: margin-left 0.05s ease-in-out;
  -ms-transition: margin-left 0.05s ease-in-out;
  transition: margin-left 0.05s ease-in-out;
}

.topcoat-switch__input:checked + .topcoat-switch__toggle {
  margin-left: 1.2rem; /* position of slider */
}

.topcoat-switch__toggle:before,
.topcoat-switch__toggle:after {
  position: absolute;
  top: -1px;
  
  width: 3rem;

  /*border: 1px solid #a5a8a8;*/

  z-index: 0;
 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.topcoat-switch__toggle:before {
  content: 'LIVE';
  color: white;
  background-color: #388F0F;
  right: 15px;
  padding-left: 16px;
}

.topcoat-switch__toggle:after {
  content: 'LAST';
  color: white;
  background-color: #EE8700;
  left: 15px;
  padding-left: 3px;
}
