.search-container {
  position: absolute;
  top: 44px;
  width: 100%;
  z-index: 3;
  opacity: 0.85;
  -webkit-transition: 'background-color' 0.25s;
  transition: 'background-color' 0.25s;
}

.search-container-gray {
  opacity: 1;
  background-color: #ddd;
  box-shadow: 0 1px 2px 0 #aaa;
}

.search-form-container {
  width: 190px;
  height: 25px;
  margin: 5px;
  margin-right: 0;
  padding-top: 7px;
  padding-left: 35px;
  padding-right: 5px;

  border-radius: 3px;
  background-image: url('../img/search-icon.png');
  background-repeat: no-repeat;
  background-position: 8px 8px;
  background-color: white;
  display: inline-block;
  box-shadow: 0 0px 2px 0 #aaa;
}

.search-form-container-focus {
  box-shadow: 0 1px 2px 0 #aaa inset;
}

.search-container form {
  display: inline;
}

.search-container input {
  margin: 0;
  padding: 0;
  font-size: 16px;
  border: none;
  -webkit-appearance: none;
}

.search-container input:focus {
  outline-width: 0;
}

.search-container button {
  padding: 0;
  font-size: 16px;
  cursor: pointer;
}

.cancel-search, .hide-all {
  width: 75px;
  height: 32px;
  margin: 5px 5px 0 0;
  float: right;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 200;
}

button.clear-search-term {
  width: 20px;
  height: 20px;
  float: right;
  background: none;
  background-image: url('../img/x.png');
  background-repeat: no-repeat;
  background-position: 3px 4px;
  border: none;
}

button.hide-all {
  border: 1px solid #157DCF;
  background-color: #288edf;
  color: #fff;
  font-size: 14px;
}

button.cancel-search {
  background-color: #ddd;
  border: 1px solid #bbb;
}

.search-underlay {
  position: absolute;
  top: 44px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: beige;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.search-underlay-on {
  opacity: 1;
  z-index: 2;
}

.search-predictions-list {
  margin-top: 50px;
  padding: 0;
  list-style-type: none;
}

.search-prediction {
  margin: 10px;
  margin-left: 14px;
  padding-left: 25px;
  background-image: url('../img/search-icon.png');
  background-repeat: no-repeat;
  background-position: 0px 3px;
  font-weight: 300;
  cursor: pointer;
}

.prediction-matched-term {
  font-weight: bold;
}

.prediction-address {
  margin-top: 3px;
  font-size: 12px;
  color: gray;
}